.columnEdge{
    width:19%;
    min-width:100px;
    display: inline-block;
    overflow:hidden;
    text-align:center;
    float:left
}

.columnEdge#player1deckImage{
    float:right;
}

.columnCenter{
    width:60%;
    display:inline-block;
    text-align:center;
    float:left;
}

.fixed-height{
    height:200px;
    overflow:hidden;
    line-height:200px;
}

#battleground{
    
    height:45%;
    width:100%;
    overflow:auto;
    /*margin:5px;*/
    border:thick;
    display:block;
}


#GameArea{
    width:80%;
    height:800px;
    margin-top:10px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    min-width:600px;
}

div{
    border-color:black;
    
    border-style:solid;
}

#player2deckImage{
    max-width:80%;
}

#player1deckImage{
    max-width:80%;
}