body{
    line-height:unset;
}

.columnEdge{
    width:19%;
    min-width:40px;
    
    display: inline-block;
    overflow:hidden;
    text-align:center;
    float:left
}

.tableCard{
   
    overflow:hidden;
    max-width:120px;
}

#cardArea{
    display:inline-block;
}

.columnEdge#player1deckImage{
    float:right;
}

.columnCenter{
    width:60%;
    display:inline-block;
    text-align:center;
    float:left;
    
}

.fixed-height{
    min-height:100px;
    overflow:hidden;
}

#battleground{
   
    max-height: 100%;
    overflow:auto;
    /*margin:5px;*/
    display:block;
}


#GameArea{
    width:80%;
    height:100%;
    /*margin-top:7px;*/
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    min-width:600px;
}

div#GameArea{
    border-color:black;
  
    border-style:solid;
}

#player2deckImage{
    max-width:50%;
}

#player1deckImage{
    max-width:50%;
   
}

.cardCount{
    font-size:2em;
    font-weight:bold;

    
}

#welcomePopUp{
    display:none;
}

.elbow-room{
    padding-left:40px;
    padding-right:40px;
    line-height: 22px;
    display:inline-block;
    float:left;
    
}
#leftInfoPane{
    float:left;
    max-width:150px;
    /*border:2px solid black;*/
    display:inline-block;
    /*border-color:black;
    border-style:solid;*/
    min-height:200px;
    max-height:200px;
}
#rightInfoPane{
    float:right;
    max-width:150px;
    min-width:150px;
    /*border:2px solid black;*/
    display:inline-block;
    /*border-style:solid;*/
    min-height:200px;
}
.button{
    margin: 0 auto;
    left: 30%;
    position:relative;
}