.columnEdge{
    width:19%;
    min-width:100px;
    display: inline-block;
    overflow:hidden;
    text-align:center;
    float:left
}

.columnEdge#player1deckImage{
    float:right;
}

.columnCenter{
    width:60%;
    display:inline-block;
    text-align:center;
    float:left;
    line-height:100px;
}

.fixed-height{
    min-height:200px;
    overflow:hidden;
    line-height:200px;
}

#battleground{
    
    border-style: none;
    border-color: inherit;
    border-width: thick;
    height:45%;
    width:102%;
    overflow:auto;
    /*margin:5px;*/
    display:block;
}


#GameArea{
    width:80%;
    height:800px;
    margin-top:10px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    min-width:600px;
}

div{
    border-color:black;
    
    border-style:solid;
}

#player2deckImage{
    max-width:60%;
}

#player1deckImage{
    max-width:60%;
   
}

.cardCount{
    font-size:2em;
    font-weight:bold;
    
}

#welcomePopUp{
    display:none;
}

.elbow-room{
    padding-left:40px;
    padding-right:40px;
    line-height: 22px;
    /*display:inline-block;*/
    /*float:left;*/
    
}